<section>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md d-flex"> <a href="#" class="card text-center flex-fill hover-effect">
    <div class="card-body d-flex flex-column align-items-center justify-content-center py-2">
        <img src="assets/img/icons/icon01.svg"  class="icon mt-2 mb-3" alt="assets/img/icons/icon01.svg">
        <span class="h6 mb-2">Small Business</span>
    </div>
</a>

      </div>
      <div class="col-6 col-md d-flex"> <a href="#" class="card text-center flex-fill hover-effect">
    <div class="card-body d-flex flex-column align-items-center justify-content-center py-2">
        <img src="assets/img/icons/icon71.svg"  class="icon mt-2 mb-3" alt="assets/img/icons/icon71.svg">
        <span class="h6 mb-2">Startup</span>
    </div>
</a>

      </div>
      <div class="col-6 col-md d-flex"> <a href="#" class="card text-center flex-fill hover-effect">
    <div class="card-body d-flex flex-column align-items-center justify-content-center py-2">
        <img src="assets/img/icons/icon82.svg"  class="icon mt-2 mb-3" alt="assets/img/icons/icon82.svg">
        <span class="h6 mb-2">Non-profit</span>
    </div>
</a>

      </div>
      <div class="col-6 col-md d-flex"> <a href="#" class="card text-center flex-fill hover-effect">
    <div class="card-body d-flex flex-column align-items-center justify-content-center py-2">
        <img src="assets/img/icons/icon08.svg"  class="icon mt-2 mb-3" alt="assets/img/icons/icon08.svg">
        <span class="h6 mb-2">Multinational</span>
    </div>
</a>

      </div>
    </div>
  </div>
</section>