<section>
  <div class="container">

    <div class="row text-center mb-5">
      <div class="col">
        <span class="h2 d-block">Our Staff</span>
      </div>
    </div>

    <div class="people-index row data-flickity">
      {% for person in site.staff %}
      <div class="person col-6 col-lg-3 d-flex"> <a data-toggle="modal" data-target="#exampleModalCenter" class="card text-center flex-fill hover-effect">
          <div class="card-body d-flex flex-column align-items-center justify-content-center py-2">
            <img src="{{ person.photo }}" class="rounded mt-2 mb-3" alt="{{ person.title }}">
            <span class="h6 mb-2">{{ person.title }}</span>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="carousel">
          {% for person in site.staff %}
          <div class="container">
            <img data-flickity-lazyload="{{ person.photo }}" class="rounded mt-2 mb-3 w-25" alt="{{ person.title }}">
            <h1>{{ person.title }}</h1>
            <p>{{ person.content | markdownify }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>