<section>
  <div class="container">

    <div class="row text-center mb-4">
      <div class="col">
        <span class="h2 d-block">{{ block.heading }}</span>
      </div>
    </div>

    <div class="row">

      <div class="col-12 col-md-4 d-md-flex">
        <div class="text-center card">
          <div class="card-body py-4">
            <img src="assets/img/icons/icon07.svg" alt="" class="icon">
            <div>
              <h5 class="mb-1 mt-2">Resources</h5>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum deleniti.</p> <a href="#">Start exploring</a>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 d-md-flex">
        <div class="text-center card">
          <div class="card-body py-4">
            <img src="assets/img/icons/icon89.svg" alt="" class="icon">
            <div>
              <h5 class="mb-1 mt-2">Mentoring</h5>
              <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                quo minus.</p> <a href="#">Learn more</a>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 d-md-flex">
        <div class="text-center card">
          <div class="card-body py-4">
            <img src="assets/img/icons/icon06.svg" alt="" class="icon">
            <div>
              <h5 class="mb-1 mt-2">Pizza</h5>
              <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                saepe.</p> <a href="#">Get some</a>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>