<section class="bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9 col-lg-10">

        {% if block.heading %}
        <span class="d-block h3">{{ block.heading }}</span>
        {% else %}
        <span class="d-block h3">Never miss an update</span>
        {% endif %}

        <form class="row align-items-center mb-2">

          <div class="col-md-9 input-group input-group-lg mb-2 mb-md-0">

            <div class="input-group-prepend"><span class="input-group-text"><i class="material-icons">mail_outline</i></span>
            </div>

            <input type="email" class="form-control" placeholder="Enter your email address" aria-label="Enter your email address">
            </div>

            <div class="col-md-3"><button class="btn btn-lg btn-block btn-primary" type="submit">Subscribe</button></div>

        </form>

        <div class="d-md-flex align-items-center">
          <span class="d-block text-small">* We'll never share your email with third parties</span>
        </div>

      </div>
    </div>
  </div>
</section>