<section class="pt-md-0 mt-minus-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="card mb-4 py-3 px-xl-3 shadow-lg hover-effect" href="#">
          <div class="card-body">
            <span class="h6 d-block">Small</span>
            <span class="d-block display-4 mb-2 text-dark">$100/mo</span>
            <p>For growing business looking to try the product</p>
            <span class="btn btn-primary btn-lg">Get started</span>
          </div>
        </a>
        <ul>
          <li class="mb-2">
            Offering
          </li>
          <li class="mb-2">
            Offering
          </li>
          <li class="mb-2">
            Offering
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <a class="card mb-4 py-3 px-xl-3 shadow-lg hover-effect" href="#">
          <div class="card-body">
            <span class="h6 d-block">Medium</span>
            <span class="d-block display-4 mb-2 text-dark">$200/mo</span>
            <p >For established businesses looking to expand</p>
            <span class="btn btn-primary btn-lg">Get started</span>
          </div>
        </a>
        <ul>
          <li class="mb-2">
            Offering
          </li>
          <li class="mb-2">
            Offering
          </li>
          <li class="mb-2">
            Offering
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <a class="card mb-4 py-3 px-xl-3 shadow-lg hover-effect" href="#">
          <div class="card-body">
            <span class="h6 d-block">Large</span>
            <span class="d-block display-4 text-dark mb-2">$500/mo</span>
            <p>For large, multi-location organisations</p>
            <span class="btn btn-primary btn-lg">Get started</span>
          </div>
        </a>
        <ul>
          <li class="mb-2">
            Offering
          </li>
          <li class="mb-2">
            Offering
          </li>
          <li class="mb-2">
            Offering
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>