<section class="py-0">
  <div class="container">
    <div class="row mb-4 text-center">
      <div class="col">
        <span class="h2 d-block">Some commonly asked questions</span>
      </div>
    </div>
  </div>
</section>

<section class="pt-0">
  <svg preserveAspectRatio="none" viewBox=" 0 0 100 100" class="bg-triangle bg-triangle-top-left">
    <polygon fill="#F8F9FB" points="0 100 100 100 100 0"></polygon>
  </svg>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-1">
                <span class="mb-0 h5 py-2 text-primary mb-0">Question</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-1" class="collapse">
              <div class="py-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe officiis iure tempora quam accusamus nesciunt vel, maiores itaque numquam et atque, officia dicta ipsum sed. Molestiae beatae facilis laborum. Earum.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-2">
                <span class="mb-0 h5 py-2 text-primary mb-0">Question</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-2" class="collapse">
              <div class="py-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ex obcaecati fuga, repudiandae, nam odit consequuntur suscipit nobis fugit totam voluptatum atque. Deleniti, ut, accusantium porro modi laboriosam iste animi.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-3">
                <span class="mb-0 h5 py-2 text-primary mb-0">Question</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-3" class="collapse">
              <div class="py-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minima autem, doloribus officiis mollitia eum error corrupti, ipsa blanditiis provident laborum, quibusdam minus aperiam aut nisi quis maxime necessitatibus aliquam.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-4">
                <span class="mb-0 h5 py-2 text-primary mb-0">Question</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-4" class="collapse">
              <div class="py-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates fugit dicta, praesentium vel dolor temporibus repellat recusandae blanditiis voluptatem. Illo velit quibusdam nisi incidunt tenetur dolore, cum libero vero facere!
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-5">
                <span class="mb-0 h5 py-2 text-primary mb-0">Question</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-5" class="collapse">
              <div class="py-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur aspernatur consectetur, totam delectus ullam id ab, autem laborum praesentium modi. Pariatur soluta vel mollitia, repellendus eius. Ut, voluptas assumenda accusamus!
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center mb-4 mt-5">
      <div class="col col-sm-auto d-md-flex align-items-center text-center">
        <span class="d-block mr-md-3 mb-md-0 h4 mb-md-0">Have more questions? Want to take a tour?</span>
        <a class="btn btn-primary btn-lg" href="#">Contact us</a>
      </div>
    </div>
  </div>
</section>