<section class="bg-white pb-5">
  <div class="container">

    <div class="row text-center mb-5">
      <div class="col">
        <span class="h2 d-block">Our Sponsors</span>
      </div>
    </div>

    <div class="row justify-content-around">

      {% for sponsor in site.sponsors %}
      <div class="col-sm-3 height-1 px-5 py-4 d-flex justify-content-center">
        <a href="{{ sponsor.link }}"><img class="img-fluid text-dark" src="{{ sponsor.logo }}"
        alt="{{ sponsor.title }}" style="max-height: 10vh;"></a>
      </div>
      {% endfor %}

    </div>

  </div>
</section>