<section class="mb-4 pt-0">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-5 align-self-center mb-3 mb-lg-0">
        <div class="pr-lg-4">
          <span class="h2 d-block">{{ block.heading }}</span>
          <p class="lead mb-0">{{ block.subheading }}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="video-cover rounded shadow-lg">
          <img src="https://via.placeholder.com/1750x1208" alt="" class="bg-image">
          <div class="video-play-icon"></div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/DYaq2sWTWAA?rel=0&amp;showinfo=0&amp;autoplay=1" allowfullscreen="" allow="autoplay; encrypted-media"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>