<section>
  <div class="container">

    <div class="row text-center mb-4">
      <div class="col">
        <span class="h2 d-block">{{ block.heading }}</span>
      </div>
    </div>

    <div class="row">

      {% for offering in block.offerings %}
      <div class="col-12 col-md-4">
        <div class="text-center card">
          <div class="card-body py-4">
            <img src="assets/img/icons/icon07.svg" alt="" class="icon">
            <div>
              <h5 class="mb-1 mt-2">{{ offering.heading }}</h5>
              <p>{{ offering.subheading }}</p> <a href="{{ offering.link_url }}">{{ offering.link_text }}</a>

            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</section>