<section class="mb-5">
  <div class="container">

    <div class="row text-center mb-5">
      <div class="col">
        <span class="h2 d-block">Our Sponsors</span>
      </div>
    </div>

    <div class="row justify-content-around">

      {% for sponsor in site.sponsors %}
      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-lg text-dark" src="{{ sponsor.logo }}"
        alt="{{ sponsor.title }}">
      </div>
      {% endfor %}

    </div>

  </div>
</section>