<section class="mb-4 pt-0">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-5 align-self-center mb-3 mb-lg-0">
        <div class="pr-lg-4">
          <span class="h2 d-block">{{ block.heading }}</span>
          <p class="lead mb-0">{{ block.subheading }}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/Gfbe3OyHXk8' frameborder='0' allowfullscreen></iframe></div>
      </div>
    </div>
  </div>
</section>