<form name="newsletter-signup" class="row align-items-center mb-2" netlify>

  <div class="col-md-9 input-group input-group-lg mb-2 mb-md-0">

    <div class="input-group-prepend"><span class="input-group-text"><i class="material-icons">mail_outline</i></span>
    </div>

    <input type="email" name="email" class="form-control" placeholder="Enter your email address" aria-label="Enter your email address">
    </div>

    <div class="col-md-3"><button class="btn btn-lg btn-block btn-primary" type="submit">Subscribe</button></div>

</form>