<nav class="navbar navbar-expand-lg navbar-light bg-white px-1">
  <div class="container">

    <a class="navbar-brand" href="index.html">
      <svg class="h" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 272.9 352.6"><style type="text/css">.st0{fill:#464651;} .st1{fill:#2798C8;}</style><path class="st0" d="M85.2 25.7c0-13.3-6.4-25.7-31-25.7-22.2 0-31 14-31 25.5v71.3c6.5-2.5 17.2-5.7 30.8-5.8 13.8 0 24.7 3.2 31.2 5.8v-71.1zM23.2 326.6c0 13.3 6.4 25.9 31 25.9 22.2 0 31-14.3 31-25.8v-71.3c-6.5 2.5-17.2 5.7-30.8 5.8-13.8 0-24.7-3.2-31.2-5.8v71.2zM272.9 96.5v-71.2c0-13.3-6-25.3-30.7-25.3-22.2 0-31.3 13.6-31.3 25.1v120.19999999999999h-76.8c2.7 5.7 7 16.6 7 31s-4.3 25.3-7 31h76.8v120c0 13.3 6.4 25.3 31 25.3 22.2 0 31-13.6 31-25.1v-231z"></path><path class="st1" d="M39.5 191h-24.9c-8.1-.2-14.6-6.9-14.6-15s6.5-14.8 14.6-15h24.9v-25c-.2-8.4 6.6-15.4 15-15.4s15.2 7 15 15.4v25h24.9c8.1.2 14.6 6.9 14.6 15s-6.5 14.8-14.6 15h-24.9v25c.2 8.4-6.6 15.4-15 15.4s-15.2-7-15-15.4v-25z"></path></svg>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end navMenu px-1">
      <ul class="navbar-nav">

        <li class="nav-item"><a class="nav-link h5" href="#">Events</a>
        </li>
        <li class="nav-item"><a class="nav-link h5" href="#">Accelerator</a>
        </li>
        <li class="nav-item"><a class="nav-link h5" href="#">Leasing</a>
        </li>
        <li class="nav-item"><a class="nav-link h5" href="#">News</a>
        </li>

      </ul>
    </div>

  </div>
</nav>