<footer class="spacer-y-3 bg-dark">
  <div class="container">
    <div class="row">

      <div class="col-6 col-md-3 mb-3 mb-md-0">
        <h5 class="menu-item-{{ loop.index }} text-white">Quick Links</h5>
        <ul class="list-unstyled">
        {% for item in site.menus.footer_quick_links %}
          <li class="menu-item-{{ loop.index }} py-0 py-md-1"><a href="{{ item.url }}" class="text-white">{{ item.title }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-3 mb-md-0">
        <h5 class="menu-item-{{ loop.index }} text-white">Accelerator</h5>
        <ul class="list-unstyled">
        {% for item in site.menus.footer_accelerator %}
          <li class="menu-item-{{ loop.index }} py-0 py-md-1"><a href="{{ item.url }}" class="text-white">{{ item.title }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-3 mb-md-0">
        <h5 class="menu-item-{{ loop.index }} text-white">Leasing</h5>
        <ul class="list-unstyled">
        {% for item in site.menus.footer_leasing %}
          <li class="menu-item-{{ loop.index }} py-0 py-md-1"><a href="{{ item.url }}" class="text-white">{{ item.title }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>

      <div class="twitter-container col-12 col-md-3 mt-minus-05">
        <a class="twitter-timeline"
          href="https://twitter.com/HWildCatters?ref_src=twsrc%5Etfw"
          data-height="300"
          data-chrome="nofooter">Tweets by HWildCatters</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

    </div>

    <div class="row mt-3 mt-md-4">
      <div class="col">
        <span class="text-small text-white opacity-50">&copy; 2018 Healthwildcatters</span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <ul class="list-unstyled d-flex list-pipe-separator">
          <li><a href="/privacy-policy" class="text-white text-small">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>