---
layout: default
---

{% include site-header.html %}

{% for block in page.content_blocks %}
  {% include block-{{ block.block_name }}.html %}
{% endfor %}

<!-- Accelerator header -->
<section class="bg-dark">
  <img src="https://via.placeholder.com/1600x1067" alt="" class="bg-image opacity-50">
  <div class="container height-lg-30">
    <div class="row">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-4 text-white">Accelerator</h1>
        <p class="lead mb-0 text-white">
          Yeah, we have an accelerator.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Accelerator content -->
<section>
  <div class="container">

    <div class="row text-center mb-4">
      <div class="col">
        <span class="h2 d-block">Here's what we have to offer.</span>
      </div>
    </div>

    <div class="row">

      <div class="col-12 col-md-4 d-md-flex">
        <div class="text-center card">
          <div class="card-body py-4">
            <img src="assets/img/icons/icon07.svg" alt="" class="icon">
            <div>
              <h5 class="mb-1 mt-2">Resources</h5>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum deleniti.</p> <a href="#">Start exploring</a>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 d-md-flex">
        <div class="text-center card">
          <div class="card-body py-4">
            <img src="assets/img/icons/icon89.svg" alt="" class="icon">
            <div>
              <h5 class="mb-1 mt-2">Mentoring</h5>
              <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                quo minus.</p> <a href="#">Learn more</a>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 d-md-flex">
        <div class="text-center card">
          <div class="card-body py-4">
            <img src="assets/img/icons/icon06.svg" alt="" class="icon">
            <div>
              <h5 class="mb-1 mt-2">Pizza</h5>
              <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                saepe.</p> <a href="#">Get some</a>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- Video -->
<section class="mb-3 pt-0">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-5 align-self-center mb-3 mb-lg-0">
        <div class="pr-lg-4">
          <span class="h2 d-block">A cool video could go here</span>
          <p class="lead mb-0">Include some additional text here.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="video-cover rounded shadow-lg">
          <img src="https://via.placeholder.com/1750x1208" alt="" class="bg-image">
          <div class="video-play-icon"></div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/DYaq2sWTWAA?rel=0&amp;showinfo=0&amp;autoplay=1" allowfullscreen="" allow="autoplay; encrypted-media"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mentors -->
<!-- <section class="pt-3">
  <div class="container">

    <div class="row text-center mb-4">
      <div class="col">
        <span class="h2 d-block">Our mentors</span>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-6 col-md-4 col-xl-3 d-flex">
        <div class="card shadow-lg hover-effect">
          <img class="card-img-top" src="assets/img/portrait-male-1.jpg" alt="Anthony Childs">
          <div class="card-body py-3">
            <h5 class="mb-0">John Doe</h5>
            <span>Title, Company</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 d-flex">
        <div class="card shadow-lg hover-effect">
          <img class="card-img-top" src="assets/img/portrait-female-1.jpg" alt="Amanda Shah">
          <div class="card-body py-3">
            <h5 class="mb-0">Jane Doe</h5>
            <span>Title, Company</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 d-flex">
        <div class="card shadow-lg hover-effect">
          <img class="card-img-top" src="assets/img/portrait-male-2.jpg" alt="Lucas Brüner">
          <div class="card-body py-3">
            <h5 class="mb-0">John Doe</h5>
            <span>Title, Company</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 d-flex">
        <div class="card shadow-lg hover-effect">
          <img class="card-img-top" src="assets/img/portrait-female-2.jpg" alt="Lucille Hobson">
          <div class="card-body py-3">
            <h5 class="mb-0">Jane Doe</h5>
            <span>Title, Company</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 d-flex">
        <div class="card shadow-lg hover-effect">
          <img class="card-img-top" src="assets/img/portrait-male-3.jpg" alt="Frank Jacobs">
          <div class="card-body py-3">
            <h5 class="mb-0">John Doe</h5>
            <span>Title, Company</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 d-flex">
        <div class="card shadow-lg hover-effect">
          <img class="card-img-top" src="assets/img/portrait-female-3.jpg" alt="Elizabeth Callahan">
          <div class="card-body py-3">
            <h5 class="mb-0">Jane Doe</h5>
            <span>Title, Company</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-xl-3 d-flex">
        <div class="card shadow-lg hover-effect">
          <img class="card-img-top" src="assets/img/portrait-female-4.jpg" alt="Robin Finch">
          <div class="card-body py-3">
            <h5 class="mb-0">Jane Doe</h5>
            <span>Title, Company</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3 d-flex">
        <div class="card bg-dark shadow-lg w-100">
          <img src="assets/img/education-7.jpg" alt="Image" class="bg-image opacity-10">
          <div class="card-body d-flex flex-column justify-content-center p-3">
            <div class="d-flex flex-column align-items-center mb-2">

            <span class="h2 text-white">Looking for more?</span>
            </div>

            <a href="#" class="btn btn-block btn-light btn-lg mb-3">See all mentors</a>

          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col col-sm-auto d-md-flex align-items-center text-center">
        <span class="d-block mr-md-3 mb-md-0 h4">Looking to make a difference?</span>
        <a class="btn btn-primary btn-lg" href="#">Become a mentor</a>
      </div>
    </div>
  </div>
</section> -->

<!-- Leasing header -->
<section class="bg-dark">
  <img src="https://via.placeholder.com/1600x1067" alt="" class="bg-image opacity-50">
  <div class="container height-lg-30">
    <div class="row">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-4 text-white">Leasing</h1>
        <p class="lead mb-0 text-white">
          Yeah, we have space.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Leasing content -->
<section class="pt-md-0 mt-minus-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="card mb-4 py-3 px-xl-3 shadow-lg hover-effect" href="#">
          <div class="card-body">
            <span class="h6 d-block">Small</span>
            <span class="d-block display-4 mb-2 text-dark">$100/mo</span>
            <p>For growing business looking to try the product</p>
            <span class="btn btn-primary btn-lg">Get started</span>
          </div>
        </a>
        <ul>
          <li class="mb-2">
            Offering
          </li>
          <li class="mb-2">
            Offering
          </li>
          <li class="mb-2">
            Offering
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <a class="card mb-4 py-3 px-xl-3 shadow-lg hover-effect" href="#">
          <div class="card-body">
            <span class="h6 d-block">Medium</span>
            <span class="d-block display-4 mb-2 text-dark">$200/mo</span>
            <p >For established businesses looking to expand</p>
            <span class="btn btn-primary btn-lg">Get started</span>
          </div>
        </a>
        <ul>
          <li class="mb-2">
            Offering
          </li>
          <li class="mb-2">
            Offering
          </li>
          <li class="mb-2">
            Offering
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <a class="card mb-4 py-3 px-xl-3 shadow-lg hover-effect" href="#">
          <div class="card-body">
            <span class="h6 d-block">Large</span>
            <span class="d-block display-4 text-dark mb-2">$500/mo</span>
            <p>For large, multi-location organisations</p>
            <span class="btn btn-primary btn-lg">Get started</span>
          </div>
        </a>
        <ul>
          <li class="mb-2">
            Offering
          </li>
          <li class="mb-2">
            Offering
          </li>
          <li class="mb-2">
            Offering
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- FAQ -->
<section class="py-0">
  <div class="container">
    <div class="row mb-4 text-center">
      <div class="col">
        <span class="h2 d-block">Some commonly asked questions</span>
      </div>
    </div>
  </div>
</section>

<section class="pt-0">
  <svg preserveAspectRatio="none" viewBox=" 0 0 100 100" class="bg-triangle bg-triangle-top-left">
    <polygon fill="#F8F9FB" points="0 100 100 100 100 0"></polygon>
  </svg>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-1">
                <span class="mb-0 h5 py-2 text-primary mb-0">Question</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-1" class="collapse">
              <div class="py-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe officiis iure tempora quam accusamus nesciunt vel, maiores itaque numquam et atque, officia dicta ipsum sed. Molestiae beatae facilis laborum. Earum.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-2">
                <span class="mb-0 h5 py-2 text-primary mb-0">Question</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-2" class="collapse">
              <div class="py-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, ex obcaecati fuga, repudiandae, nam odit consequuntur suscipit nobis fugit totam voluptatum atque. Deleniti, ut, accusantium porro modi laboriosam iste animi.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-3">
                <span class="mb-0 h5 py-2 text-primary mb-0">Question</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-3" class="collapse">
              <div class="py-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minima autem, doloribus officiis mollitia eum error corrupti, ipsa blanditiis provident laborum, quibusdam minus aperiam aut nisi quis maxime necessitatibus aliquam.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-4">
                <span class="mb-0 h5 py-2 text-primary mb-0">Question</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-4" class="collapse">
              <div class="py-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates fugit dicta, praesentium vel dolor temporibus repellat recusandae blanditiis voluptatem. Illo velit quibusdam nisi incidunt tenetur dolore, cum libero vero facere!
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <a class="d-flex align-items-center flex-fill" href="#" data-toggle="collapse" data-target="#accordion-panel-5">
                <span class="mb-0 h5 py-2 text-primary mb-0">Question</span>
              </a>
              <i class="material-icons d-block text-dark">keyboard_arrow_right</i>
            </div>
            <div id="accordion-panel-5" class="collapse">
              <div class="py-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur aspernatur consectetur, totam delectus ullam id ab, autem laborum praesentium modi. Pariatur soluta vel mollitia, repellendus eius. Ut, voluptas assumenda accusamus!
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center mb-4 mt-5">
      <div class="col col-sm-auto d-md-flex align-items-center text-center">
        <span class="d-block mr-md-3 mb-md-0 h4 mb-md-0">Have more questions? Want to take a tour?</span>
        <a class="btn btn-primary btn-lg" href="#">Contact us</a>
      </div>
    </div>
  </div>
</section>

<!-- News header -->
<section class="bg-dark">
  <img src="https://via.placeholder.com/1600x1067" alt="" class="bg-image opacity-50">
  <div class="container height-lg-30">
    <div class="row">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-4 text-white">News</h1>
        <p class="lead mb-0 text-white">
          Yeah, we have news.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- News content -->
<section>
  <div class="container mt-3">
    <div class="row justify-content-between">
      <div class="col-lg-8">
        <div class="row">

          <div class="col-md-6 d-flex">
            <a class="card shadow-lg hover-effect" href="#">

              <img class="card-img-top" src="https://via.placeholder.com/800x480" alt="">

              <div class="card-body py-3">

                <h5>News Item</h5>

                <div class="mb-4">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis labore ducimus dicta dignissimos, asperiores perferendis in, quod, rem, laborum itaque repellat nemo fugit. Culpa veritatis iste illo, totam, explicabo impedit.</p>
                </div>

              </div>

              <div class="card-footer">
                <div class="d-flex align-items-center justify-content-between">

                  <span class="font-weight-bold text-primary">Read More</span>

                  <i class="material-icons text-dark">keyboard_arrow_right</i>

                </div>
              </div>

            </a>
          </div>

          <div class="col-md-6 d-flex">
            <a class="card shadow-lg hover-effect" href="#">

              <img class="card-img-top" src="https://via.placeholder.com/800x480" alt="">

              <div class="card-body py-3">

                <h5>News Item</h5>

                <div class="mb-4">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates molestias iste libero, alias possimus repellendus itaque nulla esse dolorum labore, vitae sed nemo debitis obcaecati et. Omnis magnam, sit delectus!</p>
                </div>

              </div>

              <div class="card-footer">
                <div class="d-flex align-items-center justify-content-between">

                  <span class="font-weight-bold text-primary">Read More</span>

                  <i class="material-icons text-dark">keyboard_arrow_right</i>

                </div>
              </div>

            </a>
          </div>

        </div>
      </div>

      <div class="col-lg-4 d-flex">
        <div class="card bg-dark shadow-lg w-100">
          <img src="assets/img/education-7.jpg" alt="Image" class="bg-image opacity-10">
          <div class="card-body d-flex flex-column justify-content-center p-3">
            <div class="d-flex flex-column align-items-center mb-2">

            <span class="h2 text-white">Looking for more?</span>
            </div>

            <a href="#" class="btn btn-block btn-light btn-lg mb-3">See all news</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Newsletter -->
<section class="bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9 col-lg-10">

        <span class="d-block h3">Never miss an update</span>

        <form class="row align-items-center mb-2">

          <div class="col-md-9 input-group input-group-lg mb-2 mb-md-0">

            <div class="input-group-prepend"><span class="input-group-text"><i class="material-icons">mail_outline</i></span>
            </div>

            <input type="email" class="form-control" placeholder="Enter your email address" aria-label="Enter your email address">
            </div>

            <div class="col-md-3"><button class="btn btn-lg btn-block btn-primary" type="submit">Subscribe</button></div>

        </form>

        <div class="d-md-flex align-items-center">
          <span class="d-block text-small">* We'll never share your email with third parties</span>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Sponsors -->
<section class="mb-4">
  <div class="container">

    <div class="row text-center mb-5">
      <div class="col">
        <span class="h2 d-block">Our sponsors</span>
      </div>
    </div>

    <div class="row justify-content-around">

      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-sm text-dark opacity-50" src="assets/img/logo-amazon.svg"
        alt="Amazon">
      </div>

      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-sm text-dark opacity-50" src="assets/img/logo-volkswagen.svg"
        alt="Volkswagen">
      </div>

      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-sm text-dark opacity-50" src="assets/img/logo-coca-cola.svg"
        alt="Coca Cola">
      </div>

      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-sm text-dark opacity-50" src="assets/img/logo-netflix.svg"
        alt="Netflix">
      </div>

      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-sm text-dark opacity-50" src="assets/img/logo-apple.svg"
        alt="Apple">
      </div>

      <div class="col-6 col-lg col-md-2 mb-4 mb-sm-0 d-flex justify-content-center">
        <img class="icon icon-sm text-dark opacity-50" src="assets/img/logo-spotify.svg"
        alt="Spotify">
      </div>

    </div>

  </div>
</section>

{% include site-footer.html %}
